{% extends "layout.html" %}
{% block content %}
<main class="container text-center about-page">
  <h1>About Awesome Games</h1>
  <article class="">
      <p>AwesomeGames is a video game development and distribution company.</p>
      <p>Our online platform allows customers to browse and buy games from many different
        developers and publishers, and get recommendations for other similar games. </p>
      <p>
      Use the search bar or home page link above to find games,
        or use the navigation links on the right to register or log in.
      </p>
  </article>
</main>

{% endblock content%}
