{% extends "layout.html" %}
{% block content %}
   <input type="number" id="game_id">
   <button type="button" name="button" id="get_recs"> Get Recommendations</button>
   <main id="main_game">
     <header id="gameName"></header>
     <figure id="gameImageFigure"><img src="" alt="Image of the main game" id="gameImage"></figure>
     <article id="gameDescription"></article>

   </main>
   <section id="topTenRecs">
     <figure class="recs" id="rec1"></figure>
     <figure class="recs" id="rec2"></figure>
     <figure class="recs" id="rec3"></figure>
     <figure class="recs" id="rec4"></figure>
     <figure class="recs" id="rec5"></figure>
     <figure class="recs" id="rec6"></figure>
     <figure class="recs" id="rec7"></figure>
     <figure class="recs" id="rec8"></figure>
     <figure class="recs" id="rec9"></figure>
     <figure class="recs" id="rec10"></figure>
   </section>
{% endblock content%}
