nav{
  border-bottom: 1px solid black;
  margin-bottom: 2%;
}

#searchForm{
  padding-right: 7%;
}

.footer{
  left: 0;
  bottom: 0;
}

.form-footer{
  margin-bottom: 3%;
}

.account-info h1{
    text-decoration: underline;
}

.account-info{
  font-size: 2em;
}

.about-page h1{
  text-decoration: underline;
}

.about-page{
  font-size: 1.7em;
}
