.card h3{
  text-decoration: underline;
}

.recs_link{
  margin: 1%;
}

.recs_link figure img{
  margin-top:3%;
  text-decoration: none;
}

.mainCol{
  font-size: 1.5em;
}

.infoCol *{
  margin-top: 6%;
}

#main_game{
  margin-top: 5%;
  padding-bottom: 3%;
}

#gameImage{
  border: 1px solid black
}

#topTenRecs{
  border: 2px solid black;
  margin-bottom: 5%;
  margin-top: 5%;
}

#gameName{
  font-size: 2.2em;
  font-weight: bold;
}

#cartButton{
  margin-top: 2%;
}

.hidden{
  display: none;
}

#rec-feedback{
  margin-top: -2%;
  margin-bottom: 10%;
}
